In [1]:
""" 
1. import data

2. remove numbers from names

3. remove duplicate rows

4. edit names to take out abbreviations

5. edit names to split hyphens

6. save modified data to spreadsheet
"""

' \n1. import data\n\n2. remove numbers from names\n\n3. remove duplicate rows\n\n4. edit names to take out abbreviations\n\n5. edit names to split hyphens\n\n6. save modified data to spreadsheet\n'

In [2]:
import pandas as pd

In [11]:
data = pd.read_csv('/Users/kevins/Documents/CSImpact/data/all_prof_data.csv')

In [4]:
data.head()

,name,affiliation,homepage,scholarid
0,A Min Tjoa,TU Wien,http://www.ifs.tuwien.ac.at/tjoa,x8qCMhcAAAAJ
1,A. Akbari Azirani,IUST,http://ce.iust.ac.ir/page.php?slct_pg_id=6537&...,pCil4_cAAAAJ
2,A. Akbariazirani,IUST,http://ce.iust.ac.ir/page.php?slct_pg_id=6537&...,pCil4_cAAAAJ
3,A. Aldo Faisal,Imperial College London,https://www.imperial.ac.uk/people/a.faisal,WjHjbrwAAAAJ
4,A. Antony Franklin,IIT Hyderabad,http://www.iith.ac.in/~antony/index.html,LVfqLuoAAAAJ

In [5]:
def edit_name(name):
    edited_name = ''
    name = name.split()
    for word in name:
        if '.' in word:
            name.remove(word)
            
        if len(name) == 1:
            edited_name = name[0]
        else:
             edited_name = name[0] + ' '+ name[-1]
    
    return edited_name

In [7]:
data.loc[data['name'] == 'Tong Yang 0003']

,name,affiliation,homepage,scholarid
22379,Tong Yang 0003,Peking University,http://net.pku.edu.cn/~yangtong,zYDaX-4AAAAJ

In [12]:
#remove zeros
for i in range(data.shape[0]):
    temp = ''
    if '0' in data.iloc[i,0]:
        data.iloc[i,0] = data.iloc[i,0].split()
        data.iloc[i,0].remove(data.iloc[i,0][-1])
        data.iloc[i,0] = data.iloc[i,0][0] + ' '+  data.iloc[i,0][-1]

In [13]:
data.loc[data['name'] == 'Tong Yang 0003']

Empty DataFrame
Columns: [name, affiliation, homepage, scholarid]
Index: []

In [14]:
data.loc[data['name'] == 'Tong Yang']

,name,affiliation,homepage,scholarid
22379,Tong Yang,Peking University,http://net.pku.edu.cn/~yangtong,zYDaX-4AAAAJ

In [15]:
#Remove abbreviations
for i in range(data.shape[0]):
    data.iloc[i,0] = edit_name(data.iloc[i,0])

In [34]:
data =data.drop_duplicates()

In [35]:
data = data.reset_index(drop = True)

In [37]:
data

,name,affiliation,homepage,scholarid
0,A Tjoa,TU Wien,http://www.ifs.tuwien.ac.at/tjoa,x8qCMhcAAAAJ
1,Akbari Azirani,IUST,http://ce.iust.ac.ir/page.php?slct_pg_id=6537&...,pCil4_cAAAAJ
2,Akbariazirani,IUST,http://ce.iust.ac.ir/page.php?slct_pg_id=6537&...,pCil4_cAAAAJ
3,Aldo Faisal,Imperial College London,https://www.imperial.ac.uk/people/a.faisal,WjHjbrwAAAAJ
4,Antony Franklin,IIT Hyderabad,http://www.iith.ac.in/~antony/index.html,LVfqLuoAAAAJ
...,...,...,...,...
22712,Zvi Galil,Georgia Institute of Technology,http://www.cc.gatech.edu/people/zvi-galil,NOSCHOLARPAGE
22713,Zvi Kedem,New York University,http://cs.nyu.edu/kedem,NOSCHOLARPAGE
22714,Zvika Brakerski,Weizmann Institute of Science,https://www.weizmann.ac.il/pages/search/people...,l0CjtK4AAAAJ
22715,Zvonimir Rakamaric,University of Utah,http://www.zvonimir.info,Ui1q1jkAAAAJ
22716,Zygmunt Haas,University of Texas at Dallas,http://www.utdallas.edu/~zjh130030,tk8qFe0AAAAJ

In [58]:
#eliminate hyphens
for i in range(data.shape[0]):
    name = data.iloc[i,0]
    if '-' in name:
        data.iloc[i,0] = name[0:name.index('-')] + ' ' + name[(name.index('-') +1):(len(name))]

In [64]:
data.to_csv('cleaned_prof_data.xlsx')